body {
	background-image: url(../img/uprise.jpg);
	background-attachment: fixed;

}
h1, p, h2, h3, h4, h5, h6, figcaption {
	font-family: monospace, sans-serif;
	font-color: #3e64a0;
	font-size: 50px;
	padding: 25px;
	text-transform: uppercase;
}
figcaption {
	color: salmon;
	font-size: 40px;
}

a { 
	color: #050404;
}

a:visited {
	color: salmon;
}

a:hover {
	background: #f4d442;
}

a:active {
	color: red;
}